body {
  padding-top: constant(safe-area-inset-top); /* iOS Safari < 11.2 */
  padding-top: env(safe-area-inset-top);      /* iOS Safari >= 11.2 */
}

.custom-navbar {
  height: 80px; /* oder was du brauchst */
}

.nav-link {
  color: #fff !important;
  text-decoration: none;
}

.nav-link.active {
  color: #fff !important;
  font-weight: bold;
}

.add-border {
  max-width: 600px;
  margin: 0 auto;
  padding-top: 20px;
 }

 .user-card {
   display: flex;
   justify-content: space-between;
   align-items: center;
   background: #f5f5f5;
   padding: 12px 16px;
   border-radius: 8px;
   box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
 }

.user-card input {
    flex: 1;
    width: 100%;
}

@media(max-width: 600px) {
    .user-card {
        flex-direction: column;
    }
}

Button {
  white-space: nowrap;
  background: transparent;
  border: none;
  cursor: pointer;
  font-size: 18px;
}

.Button:hover {
  color: #a4161a;
}

.add-button {
    color: #e63946;
}

.delete-button {
  color: #e63946;
}



.user-list {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
}

.user-cards {
  display: flex;
  flex-direction: column;
  gap: 12px;
}



