body {
  padding-top: constant(safe-area-inset-top); /* iOS Safari < 11.2 */
  padding-top: env(safe-area-inset-top);      /* iOS Safari >= 11.2 */
}

.custom-navbar {
  height: 80px; /* oder was du brauchst */
}